<div class="app-about" id="about">
  <div class="container">
    <h1>About us</h1>
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi iure, dolore perspiciatis earum quam distinctio, fugiat ipsum eaque ad veniam, non.</p>
      <footer>John Doe <cite title="Source Title">CEO</cite></footer>
    </blockquote>

    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail">
          <span class="glyphicon glyphicon-flash"></span>
          <div class="caption">
            <h3>Much productive</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci commrum incidunt voluptas, cupiditate dolor?</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail">
          <span class="glyphicon glyphicon-wrench"></span>
          <div class="caption">
            <h3>Much repairs</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus magnipit consequuntur cupiditate.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail">
          <span class="glyphicon glyphicon-usd"></span>
          <div class="caption">
            <h3>Much inexpensive</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aliquid ipsa</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>