<footer class="app-footer">
  <div class="container">
    <div class="app-footer-links">
      <ul>
        <li>
          <a href="#home">Top</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#offer">Offer</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <div class="app-footer-note">
      <p>This is by no means a serious company, all contact data is made up as should not be taken seriously. </p>

      <p>Designed and built by <a href="http://github.com/taximan">Dawid</a>.</p>

      <p>Code for this site avaible at <a href="https://github.com/taximan/carfixr.io">github</a> under the MIT license.</p>
    
    </div>
  </div>
</footer>