<footer class="app-footer">
  <div class="container">
    <div class="app-footer-links">
      <ul>
        <li>
          <a href="#">Top</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
    <div class="app-footer-note">
      <p>This is by no means a serious company, all contact data is made up as should not be taken seriously. </p>

      <p>Designed and built by <a href="http://github.com/taximan">Dawid</a>.</p>

      <p>Code for this site avaible at <a href="#">github</a> under the MIT license.</p>
    
    </div>
  </div>
</footer>