<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
  
  <div class="container-fluid">
        
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CarFixr.io</a>
    </div>
        
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li>
              <a href="#home" class="ripple">Home</a>
          </li>
          <li>
              <a href="#about" class="ripple">About</a>
          </li>
          <li>
              <a href="#offer" class="ripple">Offer</a>
          </li>
          <li>
              <a href="#contact" class="ripple">Contact</a>
          </li>
      </ul>
    </div>
        
  </div>
    
</nav>