<div class="app-offer">
  <div class="container">
    <h1>
      <div>Our clients love..</div>
      <small>to name a few</small>
    </h1>
  </div>
  <div class="container-fluid">
    <ul class="row">
      <li class="col-md-3">
        <div class="card">
          <div class="card-title">Premium</div>
          <ul class="card-props">
            <li>Its this simple</li>
            <li>Lorem Ipsum Prop</li>
            <li>Hipster Ipsum</li>
          </ul>
        </div>
        <div class="card-price">13</div>
        <a href="#" class="btn btn-success">Secure</a>
      </li>
      <li class="col-md-3">
        <div class="card">
          <div class="card-title">Premium</div>
          <ul class="card-props">
            <li>Its this simple</li>
            <li>Lorem Ipsum Prop</li>
            <li>Hipster Ipsum</li>
          </ul>
        </div>
        <div class="card-price">13</div>
        <a href="#" class="btn btn-success">Secure</a>
      </li>
      <li class="col-md-3">
        <div class="card">
          <div class="card-title">Premium</div>
          <ul class="card-props">
            <li>Its this simple</li>
            <li>Lorem Ipsum Prop</li>
            <li>Hipster Ipsum</li>
          </ul>
        </div>
        <div class="card-price">13</div>
        <a href="#" class="btn btn-success">Secure</a>
      </li>
      <li class="col-md-3">
        <div class="card">
          <div class="card-title">Premium</div>
          <ul class="card-props">
            <li>Its this simple</li>
            <li>Lorem Ipsum Prop</li>
            <li>Hipster Ipsum</li>
          </ul>
        </div>
        <div class="card-price">13</div>
        <a href="#" class="btn btn-success">Secure</a>
      </li>
    </ul>
  </div>
</div>