<div class="app-offer" id="offer">
  <div class="container">
    <h1>
      <div>Our clients love..</div>
      <small>(to name a few)</small>
    </h1>
  </div>
  <div class="container-fluid">
    <ul class="row">
      <li>
        <div class="card">
          <div class="card-title">Diagnostics</div>
          <div class="card-price">13<span class="glyphicon glyphicon-euro"></span></div>
          <ul class="card-props">
            <li>retailed e-report</li>
            <li>city's best price</li>
            <li>done within one hour or free refund <small>(preordered only)</small></li>
          </ul>
        <a href="#" class="btn green-ripple">Order</a>
        </div>
      </li>
      <li>
        <div class="card">
          <div class="card-title">Tires swap</div>
          <div class="card-price">99<span class="glyphicon glyphicon-euro"></span></div>
          <ul class="card-props">
            <li>14 days instant refund</li>
            <li>with 3 year guarantee</li>
            <li>done within one work day</li>
          </ul>
        <a href="#1chuj" class="btn green-ripple">Order</a>
        </div>
      </li>
      <li>
        <div class="card">
          <div class="card-title">Gearbox exchange</div>
          <div class="card-price">~600<span class="glyphicon glyphicon-euro"></span></div>
          <ul class="card-props">
            <li>14 days instant refund</li>
            <li>with 6 year guarantee</li>
            <li>done within one work week</li>
          </ul>
        <a href="#" class="btn green-ripple">Order</a>
        </div>
      </li>
    </ul>
  </div>
</div>